### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
total_players = len(df['SN'].value_counts())
total_players

Summary_players = pd.DataFrame({"Total Players": [total_players]})
Summary_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len(df['Item ID'].value_counts())
unique_items

average_price = df['Price'].mean()
average_price =  round(average_price,2) 
average_price

number_of_purchases = len(df)
number_of_purchases 

Total_revenue = df['Price'].sum()
Total_revenue

Summary_purchases = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Price": [average_price],
                                 "Number of Purchases": [number_of_purchases],
                                 "Total Revenue": [Total_revenue]})

Summary_purchases["Average Price"] = Summary_purchases["Average Price"].map("${0:,.2f}".format)
Summary_purchases["Total Revenue"] =Summary_purchases["Total Revenue"].map("${0:,.2f}".format)

Summary_purchases

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Group by gender
gender_groups = df.groupby(['Gender'])
genders = gender_groups.nunique()

#Total Gender
total_gender = genders["SN"].sum()

# Count and percentage of players
Count_players = genders["SN"].unique()
Percentage_players= genders["SN"]/ total_gender

#Summary Table
Gender_demographics = pd.DataFrame({"Percentage of Players": Percentage_players,
                                "Players Count":Count_players})

# Formatting the percentage of players
Gender_demographics["Percentage of Players"] = Gender_demographics["Percentage of Players"].map("{:,.2%}".format) 
Gender_demographics

                      Percentage of Players  Players Count
Gender
Female                               14.06%             81
Male                                 84.03%            484
Other / Non-Disclosed                 1.91%             11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase Analysis

purchase_count = genders['SN'].value_counts()


Average_purchase = gender_groups['Price'].mean()

Total_purchase = gender_groups['Price'].sum()

Avg_Total = Total_purchase / Count_players


Purchase_Analysis = pd.DataFrame({"Average Purchase Price": Average_purchase,
                                  "Total Purchase Price":Total_purchase,
                                  "Average Total Purchase": Avg_Total})

# Formatting the columns
Purchase_Analysis["Average Purchase Price"] = Purchase_Analysis["Average Purchase Price"].map("${:,.2f}".format) 
Purchase_Analysis["Total Purchase Price"] = Purchase_Analysis["Total Purchase Price"].map("${:,.2f}".format) 
Purchase_Analysis["Average Total Purchase"] = Purchase_Analysis["Average Total Purchase"].map("${:,.2f}".format) 
                                                           
# Reformatting the columns
Purchase_Analysis = Purchase_Analysis[["Average Purchase Price", "Total Purchase Price", "Average Total Purchase"]]

Purchase_Analysis

,Average Purchase Price,Total Purchase Price,Average Total Purchase
Gender,,,
Female,$3.20,$361.94,$4.47
Male,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# Age Demographics
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10","10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

#database for age Demo
df["Age Demographics"]= pd.cut(df["Age"], age_bins, labels=age_labels)
age_demographics =df.groupby("Age Demographics")

total_age = genders["SN"].sum()
age_purchase = df["Age Demographics"].value_counts()

age_percent = age_purchase/total_players

age_demographics = pd.DataFrame({"Total Count": age_purchase,
                             "Percentage of Players":age_percent})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format) 

age_demographics = age_demographics.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

age_demographics

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

In [ ]:
#Purchase Analysis.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame